{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% block content %}
    <div class="container d-flex justify-content-betweenn"></div>
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac sapien commodo, molestie arcu vehicula,
        porttitor velit. Maecenas id sapien at ligula vestibulum egestas sollicitudin in orci. Maecenas elementum ac
        arcu at suscipit. Quisque aliquam placerat sapien quis fringilla. Aenean risus eros, vehicula vitae accumsan id,
        maximus eu nibh. Vivamus ultricies sit amet ipsum vitae placerat. Donec placerat semper venenatis. Pellentesque
        ornare quam vitae sapien pharetra suscipit. Suspendisse tincidunt diam sed purus ullamcorper, sit amet euismod
        libero dapibus. Quisque condimentum, enim quis interdum elementum, neque mauris tempor urna, fringilla volutpat
        ante leo eu erat. Sed sed consequat nulla, ac lobortis nibh. Duis velit nisl, semper eget aliquet et, venenatis
        vel dui. Ut vitae enim nulla. Pellentesque quis bibendum elit. Nulla facilisi.

        Nam ullamcorper arcu vel molestie suscipit. Quisque auctor metus consectetur lectus pretium, nec lobortis ipsum
        hendrerit. Vivamus eget efficitur dui. Integer ultricies sollicitudin dolor, semper molestie lacus bibendum vel.
        Maecenas eu tempus tortor. Pellentesque vitae nunc vel enim lacinia gravida a ac sem. Fusce dictum tincidunt
        ante ac mollis. Ut ultrices nunc eu mi venenatis maximus. Donec imperdiet tristique enim, a viverra mi tincidunt
        eu. Aenean accumsan semper consectetur. Etiam nisi urna, facilisis ut velit eget, placerat tincidunt ex. In
        accumsan, justo sed iaculis pharetra, dui orci accumsan eros, a varius justo magna eu lacus. Cras eu consectetur
        mi. Aliquam convallis nisl urna, nec tempor nulla blandit et. Etiam a dolor turpis.

        Phasellus a risus eu diam eleifend bibendum. Ut tincidunt dui ipsum, sit amet blandit turpis feugiat ac.
        Curabitur vitae lacus in enim pellentesque fermentum. Cras egestas, risus non dapibus fringilla, nunc risus
        luctus risus, eget scelerisque sapien lectus quis lorem. Nulla mollis massa augue, eu laoreet tortor commodo
        nec. Phasellus pharetra nibh at dui malesuada, ac dignissim est blandit. In est lectus, dignissim non mattis id,
        feugiat ac quam.</p>
{% endblock %}