{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Check Password{% endblock %}
{% block head %} Check Password {% endblock %}
{% block content %}
    <form method="post" , action="">
        <div>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password must contain at least one uppercase character</li>
            <li>Your password must contain at least one uppercase character</li>
            <li>Your password must contain at least one digit character</li>
            <li>Your password must contain at least one symbol character</li>
        </div>
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit">Check Password</button>
        <br>
        {% if checked_password %}
            <br>
            <div>Check info: {{ checked_password }}</div>
        {% endif %}
        {% if password_seen %}
            <br>
            <div>Password Info: {{ password_seen }}</div>
        {% endif %}

    </form>
{% endblock %}}
