{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}Check Password{% endblock %}
{% block head %} Check Password {% endblock %}
{% block content %}
    <form method="post" , action="">
        <div>
            <li>Your password should contain at least 8 characters to be safe.</li>
            <li>Your password should contain at least one uppercase character to be safe</li>
            <li>Your password should contain at least one uppercase character to be safe</li>
            <li>Your password should contain at least one digit character to be safe</li>
            <li>Your password should contain at least one symbol character to be safe</li>
        </div>
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit">Check Password</button>
        <br>
        {% if checked_password %}
            <br>
            <div>{{ checked_password }}</div>
        {% endif %}
        {% if password_seen %}
            <br>
            <div>{{ password_seen }}</div>
        {% endif %}

    </form>
{% endblock %}}
